:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #1A5E3B;
    --primaryLight: #ffba43;
    --secondary: #4CAF50;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Playground */
body {
  width: 100%;
  height: 100%;
}
/* Playground */

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

.fade-slide {
	opacity: 0;
	transform: translateY(20px);
	transition: all 0.6s ease-out;
	}
.fade-slide.visible {
	opacity: 1;
	transform: translateY(0);
	}

/*-- -------------------------- -->
<---          Products          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2355 {
    padding: var(--sectionPadding);
    position: relative;
    padding-top: 7rem;
  }
  #services-2355 .cs-container {
    width: 100%;
    max-width: 112.5rem;
    margin: auto;
    /* 24px - 100px top & bottom */
    /* 16px - 100px left & right */
    padding: clamp(1.5rem, 6vw, 6.25rem) clamp(1rem, 4.5vw, 6.25rem);
    box-sizing: border-box;
    background-color: #F1EEEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2355 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2355 .cs-title {
    margin: 0;
  }
  #services-2355 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
    row-gap: 1.5rem;
  }
  #services-2355 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }
  #services-2355 .cs-item:hover .cs-picture img {
    opacity: 0.3;
    transform: scale(1.2);
  }
  #services-2355 .cs-link {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services-2355 .cs-picture {
    width: 100%;
    height: 50vw;
    max-height: 18.75rem;
    margin-bottom: 1rem;
    background-color: #000;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #services-2355 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s, opacity 0.3s;
  }
  #services-2355 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
  }
  #services-2355 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* In-between - 600px */
@media only screen and (min-width: 600px) {
  #services-2355 .cs-item {
    grid-column: span 6;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2355 .cs-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #services-2355 .cs-item {
    width: 31%;
  }
  #services-2355 .cs-picture {
    /* 180px - 340px */
    height: 20vw;
    max-height: 18rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-2355 {
    padding-top: 4rem;
  }
  
  #services-2355 .cs-card-group {
    display: grid;
    row-gap: 3.75rem;
  }
  #services-2355 .cs-item {
    width: 100%;
    grid-column: span 3;
  }
}





                                                        

